*.config.js
tsconfig.json
eslint.config.js
.turbo
.env
.env.local
coverage
*.log
.DS_Store
node_modules
metro.config.js
babel.config.js
expo-env.d.ts
app.json
assets/
components/
constants/
hooks/
scripts/
store/
